In [1]:
import numpy as np
import pandas as pd
from torch.utils.data import DataLoader
import json

In [2]:
import dataset
import algorithm

In [3]:
CONFIG = json.load(open('config.json'))

In [4]:
Dataset = dataset.download_dataset(CONFIG['data']['filename'])

In [5]:
Dataset.head()

,area,material,condicion,anio_construccion,anio_remodelacion,sotano,calefaccion,aire_acondicionado,area_construida_piso_1,area_construida_piso_2,...,banios,banios_sin_ducha,dormitorios,cocinas,chimeneas,area_garage,area_piscina,mes_venta,anio_venta,precio
0,8450,7,5,2003,2003,Gd,GasA,Y,856,854,...,2,1,3,1,0,548,0,2,2008,208500
1,9600,6,8,1976,1976,Gd,GasA,Y,1262,0,...,2,0,3,1,1,460,0,5,2007,181500
2,11250,7,5,2001,2002,Gd,GasA,Y,920,866,...,2,1,3,1,1,608,0,9,2008,223500
3,9550,7,5,1915,1970,TA,GasA,Y,961,756,...,1,0,3,1,1,642,0,2,2006,140000
4,14260,8,5,2000,2000,Gd,GasA,Y,1145,1053,...,2,1,4,1,1,836,0,12,2008,250000

In [6]:
data = dataset.get_data(Dataset)
data.head()

,area,material,condicion,anio_construccion,anio_remodelacion,sotano,calefaccion,aire_acondicionado,area_construida_piso_1,area_construida_piso_2,...,banios,banios_sin_ducha,dormitorios,cocinas,chimeneas,area_garage,area_piscina,mes_venta,anio_venta,precio
0,8450,7,5,2003,2003,0,1,1,856,854,...,2,1,3,1,0,548,0,2,2008,208500
1,9600,6,8,1976,1976,0,1,1,1262,0,...,2,0,3,1,1,460,0,5,2007,181500
2,11250,7,5,2001,2002,0,1,1,920,866,...,2,1,3,1,1,608,0,9,2008,223500
3,9550,7,5,1915,1970,1,1,1,961,756,...,1,0,3,1,1,642,0,2,2006,140000
4,14260,8,5,2000,2000,0,1,1,1145,1053,...,2,1,4,1,1,836,0,12,2008,250000

In [7]:
normalize_data = dataset.Normalizer.transform(data)

In [8]:
data_x, data_y = dataset.split_data_x_y(normalize_data)

In [9]:
data_x_train, data_x_test = dataset.split_data_train_test(data_x, CONFIG["data"]["train_split_size"])
data_y_train, data_y_test = dataset.split_data_train_test(data_y, CONFIG["data"]["train_split_size"])

In [10]:
dataset_train = dataset.TimeSeriesDataset(data_x_train, data_y_train)
dataset_test = dataset.TimeSeriesDataset(data_x_test, data_y_test)

In [11]:
# DataLoader => Devuelve un conjunto de iteraciones, cada iteracion contiene un arreglo de 'batch_size' registros
train_dataloader = DataLoader(dataset_train, CONFIG["training"]["batch_size"], shuffle=True)
test_dataloader = DataLoader(dataset_test, CONFIG["training"]["batch_size"], shuffle=True)

In [12]:
model = algorithm.Model(config_model=CONFIG["model"], config_training=CONFIG["training"])

In [13]:
# Entrenamiento del modelo
for epoch in range(CONFIG["training"]["num_epoch"]):
    loss_train, lr_train = model.run_epoch(train_dataloader, is_training=True)
    loss_test, lr_test = model.run_epoch(test_dataloader)
    model.scheduler.step()
    if epoch == 0 or ((epoch+1)%10 == 0):
        print('Epoch[{}/{}] | loss train:{:.6f}, test:{:.6f} | lr:{:.6f}'
              .format(epoch+1, CONFIG["training"]["num_epoch"], loss_train, loss_test, lr_train))

Epoch[1/100] | loss train:0.004339, test:0.000697 | lr:0.010000
Epoch[10/100] | loss train:0.000639, test:0.000360 | lr:0.010000
Epoch[20/100] | loss train:0.000508, test:0.000377 | lr:0.010000
Epoch[30/100] | loss train:0.000511, test:0.000413 | lr:0.010000
Epoch[40/100] | loss train:0.000433, test:0.000446 | lr:0.010000
Epoch[50/100] | loss train:0.000380, test:0.000449 | lr:0.001000
Epoch[60/100] | loss train:0.000381, test:0.000442 | lr:0.001000
Epoch[70/100] | loss train:0.000378, test:0.000448 | lr:0.001000
Epoch[80/100] | loss train:0.000405, test:0.001100 | lr:0.001000
Epoch[90/100] | loss train:0.000340, test:0.000473 | lr:0.000100
Epoch[100/100] | loss train:0.000364, test:0.000464 | lr:0.000100

In [14]:
# Verificacion de la prediccion del modelo
error = 0
i=0
for idx, (x, y) in enumerate(test_dataloader):
    i+=1
    x = x.to(CONFIG["training"]["device"])
    out = model(x)
    out_vector = out.detach().numpy()
    y_vector = y.numpy()
    for i in range(len(y_vector)):
        price_predict = dataset.Normalizer.inverse_transform(out_vector[i], 21)
        price_real = dataset.Normalizer.inverse_transform(y_vector[i], 21)
        porcentage = price_predict/price_real
        error += abs(1-porcentage)
        print('Price predict: {0}, Price real: {1}, Diferencia: {2} ({3})'.format(price_predict, price_real, price_predict-price_real, (porcentage)))
    
    print("margen de error {}%".format(round(100 * error / i, 2)))
    break

Price predict: 153570, Price real: 142500, Diferencia: 11070 (1.0776842105263158)
Price predict: 232540, Price real: 274300, Diferencia: -41760 (0.847757929274517)
Price predict: 225190, Price real: 164000, Diferencia: 61190 (1.373109756097561)
Price predict: 137822, Price real: 155000, Diferencia: -17178 (0.8891741935483871)
Price predict: 118814, Price real: 145000, Diferencia: -26186 (0.8194068965517242)
Price predict: 264623, Price real: 237000, Diferencia: 27623 (1.1165527426160338)
Price predict: 162883, Price real: 179900, Diferencia: -17017 (0.905408560311284)
Price predict: 202170, Price real: 224900, Diferencia: -22730 (0.898932859048466)
Price predict: 113382, Price real: 119000, Diferencia: -5618 (0.9527899159663865)
Price predict: 173005, Price real: 203000, Diferencia: -29995 (0.8522413793103448)
Price predict: 143083, Price real: 154000, Diferencia: -10917 (0.9291103896103896)
Price predict: 253258, Price real: 250000, Diferencia: 3258 (1.013032)
Price predict: 249353, Price real: 265900, Diferencia: -16547 (0.9377698382850695)
Price predict: 197621, Price real: 174000, Diferencia: 23621 (1.1357528735632183)
Price predict: 144536, Price real: 124000, Diferencia: 20536 (1.1656129032258065)
Price predict: 408912, Price real: 465000, Diferencia: -56088 (0.8793806451612903)
Price predict: 161546, Price real: 155000, Diferencia: 6546 (1.042232258064516)
Price predict: 140297, Price real: 117000, Diferencia: 23297 (1.1991196581196581)
Price predict: 294688, Price real: 377500, Diferencia: -82812 (0.780630463576159)
Price predict: 194409, Price real: 180000, Diferencia: 14409 (1.08005)
Price predict: 128021, Price real: 122500, Diferencia: 5521 (1.045069387755102)
Price predict: 207106, Price real: 235000, Diferencia: -27894 (0.8813021276595745)
Price predict: 208888, Price real: 256000, Diferencia: -47112 (0.81596875)
Price predict: 176139, Price real: 181000, Diferencia: -4861 (0.9731436464088398)
Price predict: 240148, Price real: 232000, Diferencia: 8148 (1.0351206896551723)
Price predict: 216852, Price real: 195000, Diferencia: 21852 (1.1120615384615384)
Price predict: 130707, Price real: 112000, Diferencia: 18707 (1.1670267857142858)
Price predict: 62104, Price real: 58500, Diferencia: 3604 (1.0616068376068377)
Price predict: 183812, Price real: 197900, Diferencia: -14088 (0.9288125315816069)
Price predict: 216572, Price real: 215000, Diferencia: 1572 (1.0073116279069767)
Price predict: 96420, Price real: 91000, Diferencia: 5420 (1.0595604395604397)
Price predict: 229119, Price real: 250000, Diferencia: -20881 (0.916476)
Price predict: 118787, Price real: 119500, Diferencia: -713 (0.9940334728033473)
Price predict: 125802, Price real: 137000, Diferencia: -11198 (0.9182627737226278)
Price predict: 154536, Price real: 157000, Diferencia: -2464 (0.9843057324840764)
Price predict: 145993, Price real: 135000, Diferencia: 10993 (1.0814296296296297)
Price predict: 215162, Price real: 193879, Diferencia: 21283 (1.1097746532631176)
Price predict: 154534, Price real: 163000, Diferencia: -8466 (0.9480613496932515)
Price predict: 285684, Price real: 275000, Diferencia: 10684 (1.038850909090909)
Price predict: 121631, Price real: 142125, Diferencia: -20494 (0.8558029903254177)
Price predict: 150680, Price real: 127000, Diferencia: 23680 (1.1864566929133857)
Price predict: 184084, Price real: 192140, Diferencia: -8056 (0.9580722389924013)
Price predict: 134098, Price real: 120000, Diferencia: 14098 (1.1174833333333334)
Price predict: 204474, Price real: 189000, Diferencia: 15474 (1.0818730158730159)
Price predict: 123205, Price real: 91500, Diferencia: 31705 (1.3465027322404373)
Price predict: 135777, Price real: 119500, Diferencia: 16277 (1.1362092050209205)
Price predict: 230744, Price real: 235000, Diferencia: -4256 (0.9818893617021277)
Price predict: 199606, Price real: 165400, Diferencia: 34206 (1.206807738814994)
Price predict: 102249, Price real: 122000, Diferencia: -19751 (0.8381065573770492)
Price predict: 202924, Price real: 197900, Diferencia: 5024 (1.0253865588681152)
Price predict: 351623, Price real: 333168, Diferencia: 18455 (1.055392474667435)
Price predict: 138464, Price real: 138000, Diferencia: 464 (1.0033623188405798)
Price predict: 224571, Price real: 200500, Diferencia: 24071 (1.1200548628428928)
Price predict: 164815, Price real: 149700, Diferencia: 15115 (1.1009686038744155)
Price predict: 183754, Price real: 186500, Diferencia: -2746 (0.9852761394101877)
Price predict: 214539, Price real: 179600, Diferencia: 34939 (1.1945378619153675)
Price predict: 181558, Price real: 200000, Diferencia: -18442 (0.90779)
Price predict: 109446, Price real: 105000, Diferencia: 4446 (1.0423428571428572)
Price predict: 175837, Price real: 130000, Diferencia: 45837 (1.3525923076923076)
Price predict: 146397, Price real: 149900, Diferencia: -3503 (0.9766310873915944)
Price predict: 219149, Price real: 237500, Diferencia: -18351 (0.9227326315789474)
Price predict: 144887, Price real: 140000, Diferencia: 4887 (1.0349071428571428)
Price predict: 213597, Price real: 190000, Diferencia: 23597 (1.1241947368421052)
Price predict: 125455, Price real: 139000, Diferencia: -13545 (0.9025539568345323)
margen de error 10.58%