In [2]:
import numpy as np
import pandas as pd
from torch.utils.data import DataLoader
import json

In [3]:
import dataset
import algorithm

In [4]:
CONFIG = json.load(open('config.json'))

In [5]:
Dataset = dataset.download_dataset(CONFIG['data']['filename'])

In [6]:
Dataset.head()

,area,material,condicion,anio_construccion,anio_remodelacion,sotano,calefaccion,aire_acondicionado,area_construida_piso_1,area_construida_piso_2,...,banios,banios_sin_ducha,dormitorios,cocinas,chimeneas,area_garage,area_piscina,mes_venta,anio_venta,precio
0,8450,7,5,2003,2003,Gd,GasA,Y,856,854,...,2,1,3,1,0,548,0,2,2008,208500
1,9600,6,8,1976,1976,Gd,GasA,Y,1262,0,...,2,0,3,1,1,460,0,5,2007,181500
2,11250,7,5,2001,2002,Gd,GasA,Y,920,866,...,2,1,3,1,1,608,0,9,2008,223500
3,9550,7,5,1915,1970,TA,GasA,Y,961,756,...,1,0,3,1,1,642,0,2,2006,140000
4,14260,8,5,2000,2000,Gd,GasA,Y,1145,1053,...,2,1,4,1,1,836,0,12,2008,250000

In [7]:
data = dataset.get_data(Dataset)
data.head()

,area,material,condicion,anio_construccion,anio_remodelacion,sotano,calefaccion,aire_acondicionado,area_construida_piso_1,area_construida_piso_2,...,banios,banios_sin_ducha,dormitorios,cocinas,chimeneas,area_garage,area_piscina,mes_venta,anio_venta,precio
0,8450,7,5,2003,2003,0,1,1,856,854,...,2,1,3,1,0,548,0,2,2008,208500
1,9600,6,8,1976,1976,0,1,1,1262,0,...,2,0,3,1,1,460,0,5,2007,181500
2,11250,7,5,2001,2002,0,1,1,920,866,...,2,1,3,1,1,608,0,9,2008,223500
3,9550,7,5,1915,1970,1,1,1,961,756,...,1,0,3,1,1,642,0,2,2006,140000
4,14260,8,5,2000,2000,0,1,1,1145,1053,...,2,1,4,1,1,836,0,12,2008,250000

In [8]:
normalize_data = dataset.Normalizer.transform(data)

In [9]:
data_x, data_y = dataset.split_data_x_y(normalize_data)

In [10]:
data_x_train, data_x_test = dataset.split_data_train_test(data_x, CONFIG["data"]["train_split_size"])
data_y_train, data_y_test = dataset.split_data_train_test(data_y, CONFIG["data"]["train_split_size"])

In [11]:
dataset_train = dataset.TimeSeriesDataset(data_x_train, data_y_train)
dataset_test = dataset.TimeSeriesDataset(data_x_test, data_y_test)

In [12]:
# DataLoader => Devuelve un conjunto de iteraciones, cada iteracion contiene un arreglo de 'batch_size' registros
train_dataloader = DataLoader(dataset_train, CONFIG["training"]["batch_size"], shuffle=True)
test_dataloader = DataLoader(dataset_test, CONFIG["training"]["batch_size"], shuffle=True)

In [13]:
model = algorithm.Model(config_model=CONFIG["model"], config_training=CONFIG["training"])

In [14]:
# Entrenamiento del modelo
for epoch in range(CONFIG["training"]["num_epoch"]):
    loss_train, lr_train = model.run_epoch(train_dataloader, is_training=True)
    loss_test, lr_test = model.run_epoch(test_dataloader)
    if epoch == 0 or ((epoch+1)%10 == 0):
        print('Epoch[{}/{}] | loss train:{:.6f}, test:{:.6f} | lr:{:.6f}'
              .format(epoch+1, CONFIG["training"]["num_epoch"], loss_train, loss_test, lr_train))

Epoch[1/100] | loss train:0.005892, test:0.001145 | lr:0.010000
Epoch[10/100] | loss train:0.001689, test:0.000475 | lr:0.010000
Epoch[20/100] | loss train:0.000999, test:0.000409 | lr:0.010000
Epoch[30/100] | loss train:0.000651, test:0.000484 | lr:0.010000
Epoch[40/100] | loss train:0.000800, test:0.000660 | lr:0.010000
Epoch[50/100] | loss train:0.000492, test:0.000464 | lr:0.010000
Epoch[60/100] | loss train:0.000496, test:0.000325 | lr:0.010000
Epoch[70/100] | loss train:0.000455, test:0.000307 | lr:0.010000
Epoch[80/100] | loss train:0.000449, test:0.000692 | lr:0.010000
Epoch[90/100] | loss train:0.000306, test:0.000674 | lr:0.010000
Epoch[100/100] | loss train:0.000281, test:0.000361 | lr:0.010000

In [19]:
# Verificacion de la prediccion del modelo
error = 0
i=0
for idx, (x, y) in enumerate(test_dataloader):
    i+=1
    x = x.to(CONFIG["training"]["device"])
    out = model(x)
    out_vector = out.detach().numpy()
    y_vector = y.numpy()
    for i in range(len(y_vector)):
        price_predict = dataset.Normalizer.inverse_transform(out_vector[i], 21)
        price_real = dataset.Normalizer.inverse_transform(y_vector[i], 21)
        porcentage = price_predict/price_real
        error += abs(1-porcentage)
        print('Price predict: {0}, Price real: {1}, Diferencia: {2} ({3})'.format(price_predict, price_real, price_predict-price_real, (porcentage)))
    
    print("margen de error {}%".format(round(100 * error / i, 2)))
    break

Price predict: 161635, Price real: 157000, Diferencia: 4635 (1.0295222929936305)
Price predict: 119969, Price real: 132500, Diferencia: -12531 (0.9054264150943396)
Price predict: 107846, Price real: 91500, Diferencia: 16346 (1.1786448087431693)
Price predict: 160072, Price real: 155835, Diferencia: 4237 (1.0271890140212405)
Price predict: 318099, Price real: 302000, Diferencia: 16099 (1.0533079470198676)
Price predict: 148938, Price real: 155000, Diferencia: -6062 (0.9608903225806451)
Price predict: 86412, Price real: 79000, Diferencia: 7412 (1.0938227848101265)
Price predict: 192828, Price real: 239000, Diferencia: -46172 (0.8068117154811716)
Price predict: 197163, Price real: 178000, Diferencia: 19163 (1.1076573033707866)
Price predict: 134696, Price real: 144000, Diferencia: -9304 (0.9353888888888889)
Price predict: 188999, Price real: 186500, Diferencia: 2499 (1.0133994638069705)
Price predict: 161977, Price real: 186700, Diferencia: -24723 (0.8675790037493305)
Price predict: 101918, Price real: 119500, Diferencia: -17582 (0.8528702928870293)
Price predict: 126418, Price real: 160000, Diferencia: -33582 (0.7901125)
Price predict: 196908, Price real: 224900, Diferencia: -27992 (0.8755357936860827)
Price predict: 115195, Price real: 125000, Diferencia: -9805 (0.92156)
Price predict: 98191, Price real: 116050, Diferencia: -17859 (0.8461094355881086)
Price predict: 99892, Price real: 115000, Diferencia: -15108 (0.8686260869565218)
Price predict: 282552, Price real: 283463, Diferencia: -911 (0.9967861766791433)
Price predict: 119330, Price real: 84500, Diferencia: 34830 (1.412189349112426)
Price predict: 101559, Price real: 83000, Diferencia: 18559 (1.2236024096385543)
Price predict: 193736, Price real: 175500, Diferencia: 18236 (1.103908831908832)
Price predict: 185216, Price real: 181000, Diferencia: 4216 (1.023292817679558)
Price predict: 168212, Price real: 176500, Diferencia: -8288 (0.953042492917847)
Price predict: 190030, Price real: 189000, Diferencia: 1030 (1.0054497354497354)
Price predict: 131122, Price real: 147500, Diferencia: -16378 (0.8889627118644068)
Price predict: 203550, Price real: 215000, Diferencia: -11450 (0.9467441860465117)
Price predict: 122614, Price real: 157900, Diferencia: -35286 (0.7765294490183661)
Price predict: 343739, Price real: 147000, Diferencia: 196739 (2.338360544217687)
Price predict: 124484, Price real: 137000, Diferencia: -12516 (0.9086423357664234)
Price predict: 216918, Price real: 282922, Diferencia: -66004 (0.7667060179130644)
Price predict: 119221, Price real: 136500, Diferencia: -17279 (0.8734139194139194)
Price predict: 134524, Price real: 190000, Diferencia: -55476 (0.708021052631579)
Price predict: 236863, Price real: 287090, Diferencia: -50227 (0.8250478943885193)
Price predict: 114774, Price real: 139000, Diferencia: -24226 (0.8257122302158273)
Price predict: 204562, Price real: 260000, Diferencia: -55438 (0.786776923076923)
Price predict: 266556, Price real: 228500, Diferencia: 38056 (1.1665470459518599)
Price predict: 353599, Price real: 333168, Diferencia: 20431 (1.0613234164145415)
Price predict: 166953, Price real: 171000, Diferencia: -4047 (0.9763333333333334)
Price predict: 180193, Price real: 189000, Diferencia: -8807 (0.9534021164021164)
Price predict: 134025, Price real: 148000, Diferencia: -13975 (0.9055743243243243)
Price predict: 142536, Price real: 143000, Diferencia: -464 (0.9967552447552448)
Price predict: 252286, Price real: 237000, Diferencia: 15286 (1.0644978902953586)
Price predict: 241427, Price real: 271000, Diferencia: -29573 (0.8908745387453875)
Price predict: 234012, Price real: 235000, Diferencia: -988 (0.9957957446808511)
Price predict: 155153, Price real: 177000, Diferencia: -21847 (0.8765706214689265)
Price predict: 121452, Price real: 133000, Diferencia: -11548 (0.9131729323308271)
Price predict: 128354, Price real: 137500, Diferencia: -9146 (0.9334836363636364)
Price predict: 147010, Price real: 156932, Diferencia: -9922 (0.9367751637651976)
Price predict: 136481, Price real: 143000, Diferencia: -6519 (0.9544125874125874)
Price predict: 128122, Price real: 127000, Diferencia: 1122 (1.0088346456692914)
Price predict: 117561, Price real: 115000, Diferencia: 2561 (1.0222695652173912)
Price predict: 139116, Price real: 140000, Diferencia: -884 (0.9936857142857143)
Price predict: 427136, Price real: 410000, Diferencia: 17136 (1.0417951219512196)
Price predict: 209219, Price real: 213000, Diferencia: -3781 (0.9822488262910798)
Price predict: 139983, Price real: 149900, Diferencia: -9917 (0.9338425617078052)
Price predict: 235726, Price real: 215000, Diferencia: 20726 (1.0964)
Price predict: 143025, Price real: 117000, Diferencia: 26025 (1.2224358974358975)
Price predict: 291441, Price real: 310000, Diferencia: -18559 (0.9401322580645162)
Price predict: 93340, Price real: 113000, Diferencia: -19660 (0.8260176991150443)
Price predict: 124535, Price real: 144152, Diferencia: -19617 (0.8639144791608857)
Price predict: 308075, Price real: 290000, Diferencia: 18075 (1.0623275862068966)
Price predict: 94778, Price real: 68400, Diferencia: 26378 (1.3856432748538012)
Price predict: 159217, Price real: 179900, Diferencia: -20683 (0.8850305725403002)
margen de error 12.85%